.home
  display: flex
  margin: 0 auto
  padding: 0
  .left
    min-width: 150px
    width: 20%
  .mid
    width: auto
  .right
    min-width: 250px
  .blog-feed
    
    .feed-title
      padding: 30px
      h1
        text-align: center
    .blog-preview
      width: 100%
      padding: 20px
      margin: 10px 0 10px 0
      margin-bottom: 40px
      background-color: #f3f3f3
      .title
        text-align: center
      .preview
        text-align: center
        margin-bottom: 20px
        width: 80%
        margin: 0 auto
        margin-bottom: 30px
      .read-more
        display: block
        width: 100%
        text-align: center
      .date
        position: relative
  .home-sidebar
    z-index: 1
    background-color: #192b33
    height: 100%